.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    color :grey;
    font-size: 20px;
    margin-right: 5px;
    padding-top: 15px;
    box-sizing: border-box;
    text-decoration: none;
}
 
.item{
    padding: 10px 0;
}

.temp{
    display: inline-block;
    padding:4px 10px 5px;
    background: rgba(255, 165, 0,0.25);
    color: #000;
    font-size: 32px;
  }